<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		.prrafo { 
			font-size: 70px;
			color: green;
		 }

		 .letrasmal{
		 	font-size: 60px;
		 	color: red;
		 }
	</style>
</head>
<body>
	<center>
		<h1>AHORCADO XP</h1>
		<form action="/procesar" method="post">
			<label for="letra_ingresada">LETRA:</label>
			<input type="text" name="letra_ingresada" maxlength="1" minlength="1" size="3" style="text-transform: uppercase">
			<input type="submit" value="ENVIAR">
		</form>
		<h3>Palabara a buscar:</h3>
		<p class="prrafo"><%= session['palabra'] %></p> <br><br><br>
		
		<h3>Faltas:</h3>
		<p class="letrasmal"><%= session['faltas'] %></p>

		<h3>Letras no encontradas:</h3>
		<p class="letrasmal" ><%= session['letrasmal'] %></p>
		
	</center>
</body>
</html>