<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		p { 
			font-size: 48px;
			color: red;
		 }
	</style>
</head>
<body>
	<center>
		<h1>AHORCADO XP</h1>
		<form>
			
		</form>
		<h3>Palabara a buscar:</h3>
		<p><%= session['palabra'] %></p>
		
	</center>
</body>
</html>